*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fefefe;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    /* mang? toi #191919*/ /*vang` #f6bf2e*/ 
}

body {
    background-color: #252525; 
}


@media (min-width: 100px) {
/*Side nav*/
    .closebtn {
        margin-top: 1vh;
        font-size: 5vh;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f8c442;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
/*Top Nav*/
    .topnav {
        height: 0;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 10%;
        left: 40%;
        background-color: #151515;
        overflow-x: hidden;
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topnav a {
        padding: 2px 8px 8px 32px;
        text-decoration: none;
        font-size: 100%;
        display: block;
        transition: 0.3s;
    }

    .topnav a {
        color: #f8c442;
    }


/*Top Bar*/
    #top_bar{
        background-color: #151515;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 10%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    #logo_container{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 80%;
        align-self:center;
    }

    #account_container{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 60%
    }

    .account {
        font-size: 100%;
        align-self:center;
        margin-right: 5%;
        color: #f8c442;
    }

    .expand_btn {
        width: 6%;
        align-self:center;
    }
    
    #categories_container{
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .categories {
        width: 30%;
        align-self:center;
        margin-right: 10%;
    }

/*Search*/
    #search_container {
        margin-top: 12vh;
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .search_box {
        width: 70%;
        height: 100%;
        margin-right: 4%;
        color: grey;
        background-color:#151515;
        border-style: solid;
        border-width: 1px;
    }

    .search_btn {
        width: 15%;
        height: 100%;
        background-color:#151515;
        color: grey;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_img {
        height: 50%;
    }

/*Content*/
    #content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    hr{
        border: 1px solid #f8c442;
        background-color: #f8c442;
        height: 100%;
        width: 80%;
        margin: 5% 5% 5% 5%
    }

    .main_article_container {
        width: 90%;
        height: 300px;
        margin-top: 5%;
        position: relative;
        overflow: hidden;  
    }

    .main_article_title_container {
        height: 100%;
        width: 100%;
        align-self:flex-end ;
        display: flex;
        align-items: flex-end;
        position: absolute;
        background-color: rgba(0,0,0,0.5)
    }

    .main_article_title {
        margin: 0 5% 5% 5%;
        font-size:100%;
        font-weight: bold;
    }

    .main_article_img {
        margin: -100%;
        max-width: none;
        width: 1000px;
        align-self:center;
    }

    .top_article_container {
        background-color: #191919;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%;
    }

    .part_title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin: 5% 0 5% 0;
    }

    .top_article{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 0 5% 10% 5%;
    }

    .top_article_title {
        margin-top: 5%;
        font-size: 70%;
    }

    .recent_article_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .recent_article{
        width: 90%;
        display: flex;
        margin: 0 5% 5% 5%
    }

    .recent_article_img {
        width:40%
    }

    .recent_article_title {
        font-size: 80%;
        margin-left: 5%;
    }
    
    #footer {
        width: 100%;
        background-color: #151515;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer_logo_container{
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    #footer_logo {
        width: 40%;

    }

    #contact {
        font-size: 80%;
        text-align: center;
    }

    #footer_follow_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .follow_button {
        height: 30px;
        width: 30px;
        border-width: 1px;
        border-color: #636363;
        border-style: solid;
        background-color: #191919;
        margin: 0 5px 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #follow_button_container {
        display: flex;
        flex-wrap: wrap;
    }

    .follow_icon {
        width: 50%
    }
}


/*-----------------------------------------------change device--------------------------------------------------------*/
@media (min-width: 500px) {
/*Side nav*/
    .closebtn {
        margin-top: 1vh;
        font-size: 5vh;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 7vh;
        display: flex;
        flex-direction: column;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f8c442;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
/*Top Nav*/
    .topnav {
        height: 0;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 10%;
        left: 40%;
        background-color: #151515;
        overflow-x: hidden;
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topnav a {
        padding: 2px 8px 8px 32px;
        text-decoration: none;
        font-size: 180%;
        display: block;
        transition: 0.3s;
    }

    .topnav a {
        color: #f8c442;
    }


/*Top Bar*/
    #top_bar{
        background-color: #151515;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 120px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    #logo_container{
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 80%;
        align-self:center;
    }

    #account_container{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 60%
    }

    .account {
        font-size: 170%;
        align-self:center;
        margin-right: 5%;
        color: #f8c442;
    }

    .expand_btn {
        width: 6%;
        align-self:center;
    }
    
    #categories_container{
        width: 20%;
        display: flex;
        justify-content: flex-end;
    }

    .categories {
        width: 30%;
        align-self:center;
        margin-right: 10%;
    }

/*Search*/
    #search_container {
        margin-top: 14vh;
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .search_box {
        font-size: 200%;
        width: 70%;
        height: 100%;
        margin-right: 4%;
        color: grey;
        background-color:#151515;
        border-style: solid;
        border-width: 1px;
    }

    .search_btn {
        width: 15%;
        height: 100%;
        background-color:#151515;
        color: grey;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_img {
        height: 50%;
    }

/*Content*/
    #content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    hr{
        border: 1px solid #f8c442;
        background-color: #f8c442;
        height: 100%;
        width: 80%;
        margin: 5% 5% 5% 5%
    }

    .main_article_container {
        width: 90%;
        height: 300px;
        margin-top: 5%;
        position: relative;
        overflow: hidden;  
    }

    .main_article_title_container {
        height: 100%;
        width: 100%;
        align-self:flex-end ;
        display: flex;
        align-items: flex-end;
        position: absolute;
        background-color: rgba(0,0,0,0.5)
    }

    .main_article_title {
        margin: 0 5% 5% 5%;
        font-size:150%;
        font-weight: bold;
    }

    .main_article_img {
        margin: -50%;
        max-width: none;
        width: 1500px;
        align-self:center;
    }

    .top_article_container {
        background-color: #191919;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%;
    }

    .part_title {
        font-size: 250%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin: 5% 0 5% 0;
    }

    .top_article{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 0 5% 10% 5%;
    }

    .top_article_title {
        margin-top: 5%;
        font-size: 120%;
    }

    .recent_article_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .recent_article{
        width: 90%;
        display: flex;
        margin: 0 5% 5% 5%
    }

    .recent_article_img {
        width:40%
    }

    .recent_article_title {
        font-size: 150%;
        margin-left: 5%;
    }
    
    #footer {
        width: 100%;
        background-color: #151515;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer_logo_container{
        width: 100%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    #footer_logo {
        width: 40%;

    }

    #contact {
        font-size: 160%;
        text-align: center;
    }

    #footer_follow_container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .follow_button {
        height: 30px;
        width: 30px;
        border-width: 1px;
        border-color: #636363;
        border-style: solid;
        background-color: #191919;
        margin: 0 5px 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #follow_button_container {
        display: flex;
        flex-wrap: wrap;
    }

    .follow_icon {
        width: 50%
    }
}

/*-----------------------------------------------change device--------------------------------------------------------*/
@media (min-width: 992px) {
/*Side nav*/
    .closebtn {
        display: none;
        visibility: hidden;
        margin-top: 0;
        font-size: 1px;
        height: 0;
        width: 0;
    }

    .sidenav {
        height: 15%;
        width: 100%;
        position:static;
        z-index: auto;
        top: 0;
        left: 0;
        margin: 4.5% 0 0 0;
        background-color: #eeb628;
        overflow-x: auto;
        transition: 0s;
        padding-top: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidenav a {
        padding: 0;
        text-decoration: none;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0s;
        height: 40px;
        width: 25%;
        color: #131313;
        font-weight:500;
        
    }

    .sidenav a:hover {
        background-color: #131313;
        transition: 0.3s;
    }


    @media screen and (max-height: 450px) {
        .sidenav {padding-top: unset;}
        .sidenav a {font-size: unset;}
    }

/*Top Nav*/
    .topnav {
        height: 0;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 10%;
        left: 70%;
        background-color: #151515;
        overflow-x: hidden;
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topnav a {
        padding: 2px 8px 8px 32px;
        text-decoration: none;
        font-size: 180%;
        display: block;
        transition: 0.3s;
    }

    .topnav a {
        color: #f8c442;
    }


/*Top Bar*/
    #top_bar{
        background-color: #151515;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        height: 10%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    #logo_container{
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: center;
    }

    .logo {
        cursor: pointer;
        width: unset;
        height: 100%;
        align-self:center;
    }

    #account_container{
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 60%;
        margin-right:2%;
    }

    .account {
        font-size: 200%;
        align-self:center;
        margin-right: 2%;
        color: #f8c442;
    }

    .expand_btn {
        width: 4%;
        align-self:center;
        
    }

    .expand_btn:hover {
        cursor: pointer;
    }

    #categories_container{
        height: 50%;
        width: 0;
        display: none;
        visibility: hidden;
    }

    .categories {
        width: 0;
        align-self:auto;
        margin: 0;
    }


/*Search*/
    #search_container {
        margin-top: 3vh;
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .search_box {
        font-size: 200%;
        width: 54.5%;
        height: 100%;
        margin-right: 0.5%;
        color: grey;
        background-color:#151515;
        border-style: solid;
        border-width: 1px;
    }

    .search_btn {
        width: 5%;
        height: 100%;
        background-color:#151515;
        color: grey;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_img {
        height: 50%;
    }

/*Content*/
    #content {
        margin-left: 20%;
        margin-top: 1%;
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #191919;
    }

    hr{
        border: 1px solid #f8c442;
        background-color: #f8c442;
        height: 100%;
        width: 80%;
        margin: 5% 5% 5% 5%
    }

    .main_article_container {
        width: 90%;
        height: 600px;
        margin-top: 5%;
        position: relative;
        overflow: hidden;  
    }

    .main_article_title_container {
        height: 100%;
        width: 100%;
        align-self:flex-end ;
        display: flex;
        align-items: flex-end;
        position: absolute;
        background-color: rgba(0,0,0,0.5)
    }

    .main_article_title {
        margin: 0 5% 5% 5%;
        font-size:150%;
        font-weight: bold;
    }

    .main_article_img {
        margin: -20%;
        max-width: none;
        width: 1500px;
        align-self:center;
    }

    .top_article_container {
        background-color: #111111;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 100%;
    }

    .part_title {
        font-size: 250%;
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin: 5% 0 5% 0;
    }

    .top_article{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin: 0 5% 10% 5%;
    }

    .top_article_title {
        margin-top: 5%;
        font-size: 120%;
    }

    .recent_article_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .recent_article{
        width: 90%;
        display: flex;
        margin: 0 5% 5% 5%
    }

    .recent_article_img {
        width:40%
    }

    .recent_article_title {
        font-size: 150%;
        margin-left: 5%;
    }
    
    #footer {
        width: 100%;
        height: 40vh;
        background-color: #151515;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    }

    #footer_logo_container{
        width: 40%;
        margin: 5% 0 5% 0;
        display: flex;
        justify-content: center;
    }

    #footer_logo {
        width: 40%;

    }

    #about_us_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about_us {
        width: 50%;
    }

    #contact {
        font-size: 160%;
        margin-bottom: 5%;
        text-align: center;
    }

    #footer_follow_container{
        width: 50%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .follow_button {
        height: 30px;
        width: 30px;
        border-width: 1px;
        border-color: #636363;
        border-style: solid;
        background-color: #191919;
        margin: 0 5px 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #follow_button_container {
        display: flex;
        flex-wrap: wrap;
    }

    #follow_us {
        width: 50%;
        margin: 0 0 0 0
    }

    .follow_icon {
        width: 50%
    }
}